@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Project Manager</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Project Manager</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav me-auto mb-2 mb-sm-0">
						<li class="nav-item">
							<a class="nav-link" asp-action="Index" asp-controller="Projects">Projects List</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-action="Create" asp-controller="Projects">Create New</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto mb-2 mb-sm-0">
						@if (!User.Identity.IsAuthenticated)
						{
							<li class="nav-item">
								<a class="nav-link" asp-action="Register" asp-controller="Accounts">Register</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="Login" asp-controller="Accounts">Login</a>
							</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link" asp-action="Logout" asp-controller="Accounts">Logout</a>
							</li>
						}

					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted mt-5 pt-3 text-center">
		<div class="container">
			&copy; 2024 - Project Manager Application
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
